<strong>Olá, {{ deliveryman }} </strong>
<p>Uma nova encomenda foi registrada para você</p>
<p>
  <strong>Produto:</strong> {{ product }} <br />
  <br />
  <small>
    O produto já está disponível para a retirada.
  </small>
</p>
